In [ ]:
import pandas as pd
import glob

!mkdir test_excel
%pwd

mkdir: cannot create directory ‘test_excel’: File exists

'/content'

In [30]:
%cd /content/test_excel/
!wget 'https://github.com/LauraMarcela505/AutomateExcelFile/raw/master/all_sleep_data.xlsx'

/content/test_excel
--2022-10-03 08:06:55--  https://github.com/LauraMarcela505/AutomateExcelFile/raw/master/all_sleep_data.xlsx
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/LauraMarcela505/AutomateExcelFile/master/all_sleep_data.xlsx [following]
--2022-10-03 08:06:56--  https://raw.githubusercontent.com/LauraMarcela505/AutomateExcelFile/master/all_sleep_data.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11076 (11K) [application/octet-stream]
Saving to: ‘all_sleep_data.xlsx’

all_sleep_data.xlsx 100%[===================>]  10.82K  --.-KB/s    in 0s

2022-10-03 08:06:56 (80.5 MB/s) - ‘all_sleep_data.xlsx’ saved [11076/11076]

In [31]:
%cd /content/
file_loc = '/content/test_excel/*.xlsx'

/content

In [32]:
excel_loc = glob.glob(file_loc)

In [ ]:
!pip install xlrd
!pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.1 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
print(excel_loc[0])

/content/test_excel/all_sleep_data.xlsx

In [34]:
df = pd.read_excel(excel_loc[0],sheet_name=None)
df.keys()

dict_keys(['Sheet1'])

In [35]:
df_sleep = pd.read_excel(excel_loc[0], sheet_name='Sheet1')

In [36]:
display(df_sleep)

,Unnamed: 0,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,0,2020-08-31 2:35AM,2020-08-31 9:14AM,362,37,22,399,105.0,158.0,99.0
1,1,2020-08-28 7:44PM,2020-08-28 9:12PM,85,3,0,88,NaN,NaN,NaN
2,2,2020-08-28 1:14AM,2020-08-28 9:16AM,398,84,26,482,70.0,237.0,91.0
3,3,2020-08-27 5:52AM,2020-08-27 9:29AM,196,21,12,217,44.0,131.0,21.0
4,4,2020-08-27 1:24AM,2020-08-27 4:29AM,164,21,16,185,41.0,83.0,40.0
...,...,...,...,...,...,...,...,...,...,...
86,86,2020-09-03 10:18PM,2020-09-04 9:25AM,586,81,49,667,154.0,313.0,119.0
87,87,2020-09-03 2:57AM,2020-09-03 8:10AM,258,55,18,313,31.0,158.0,69.0
88,88,2020-09-02 2:17PM,2020-09-02 4:19PM,116,6,1,122,NaN,NaN,NaN
89,89,2020-09-01 6:59PM,2020-09-01 9:10PM,117,14,1,131,NaN,NaN,NaN
90,90,2020-09-01 4:21AM,2020-09-01 7:02AM,147,14,0,161,NaN,NaN,NaN

In [37]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            91 non-null     int64
 1   Start Time            91 non-null     object
 2   End Time              91 non-null     object
 3   Minutes Asleep        91 non-null     int64
 4   Minutes Awake         91 non-null     int64
 5   Number of Awakenings  91 non-null     int64
 6   Time in Bed           91 non-null     int64
 7   Minutes REM Sleep     70 non-null     float64
 8   Minutes Light Sleep   70 non-null     float64
 9   Minutes Deep Sleep    70 non-null     float64
dtypes: float64(3), int64(5), object(2)
memory usage: 7.2+ KB

In [ ]:
!wget 'https://github.com/justmarkham/pandas-videos/blob/master/data/drinks1.csv'

--2022-10-03 07:13:46--  https://github.com/justmarkham/pandas-videos/blob/master/data/drinks1.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘drinks1.csv.1’

drinks1.csv.1           [ <=>                ] 189.46K  --.-KB/s    in 0.02s

2022-10-03 07:13:46 (10.9 MB/s) - ‘drinks1.csv.1’ saved [194008]

In [ ]:
!pwd

/content

In [ ]:
!mv drinks1.csv /content/drive/MyDrive/Github/python_core_test/drinks1.csv

In [ ]:
#df = pd.read_csv('https://github.com/justmarkham/pandas-videos/blob/master/data/drinks1.csv')
#https://github.com/justmarkham/pandas-videos/raw/master/data/drinks1.csv
df = pd.read_csv('https://github.com/justmarkham/pandas-videos/raw/master/data/drinks1.csv')
display(df)

         country  beer_servings  spirit_servings
0    Afghanistan              0                0
1        Albania             89              132
2        Algeria             25                0
3        Andorra            245              138
4         Angola            217               57
..           ...            ...              ...
188    Venezuela            333              100
189      Vietnam            111                2
190        Yemen              6                0
191       Zambia             32               19
192     Zimbabwe             64               18

[193 rows x 3 columns]

In [ ]:
df_test = pd.DataFrame({'col_name':['martin','seth'], 'col_city':['cfalls','bigfork']})
display(df_test)

  col_name col_city
0   martin   cfalls
1     seth  bigfork

In [ ]:
import numpy as np

In [ ]:
df_rnd = pd.DataFrame(np.random.rand(4,6))
df_rnd

          0         1         2         3         4         5
0  0.640893  0.877591  0.625407  0.866749  0.454520  0.834534
1  0.753518  0.334447  0.336204  0.222754  0.759390  0.194475
2  0.197151  0.090349  0.265816  0.493266  0.436601  0.099835
3  0.208436  0.530816  0.894159  0.206575  0.292447  0.870328

In [ ]:
df_rnd = pd.DataFrame(np.random.rand(4,6),columns=['me','you','kid','south','hi','snow'])
df_rnd

         me       you       kid     south        hi      snow
0  0.530602  0.197439  0.653001  0.463870  0.257149  0.231752
1  0.044175  0.104399  0.809477  0.443647  0.131772  0.324235
2  0.685055  0.570827  0.780624  0.498797  0.876058  0.230506
3  0.917975  0.407592  0.451486  0.981932  0.674502  0.524387

In [ ]:
df_rnd.rename({'you':'friend'}, axis='columns')

         me    friend       kid     south        hi      snow
0  0.530602  0.197439  0.653001  0.463870  0.257149  0.231752
1  0.044175  0.104399  0.809477  0.443647  0.131772  0.324235
2  0.685055  0.570827  0.780624  0.498797  0.876058  0.230506
3  0.917975  0.407592  0.451486  0.981932  0.674502  0.524387

In [ ]:
df

         country  beer_servings  spirit_servings
0    Afghanistan              0                0
1        Albania             89              132
2        Algeria             25                0
3        Andorra            245              138
4         Angola            217               57
..           ...            ...              ...
188    Venezuela            333              100
189      Vietnam            111                2
190        Yemen              6                0
191       Zambia             32               19
192     Zimbabwe             64               18

[193 rows x 3 columns]

In [ ]:
df_d = pd.read_csv('https://github.com/justmarkham/pandas-videos/raw/master/data/drinks.csv')
display(df_d)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [ ]:
df_d.index

RangeIndex(start=0, stop=193, step=1)

In [ ]:
df_d.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [ ]:
df_d.loc[::-1].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
192,Zimbabwe,64,18,4,4.7,Africa
191,Zambia,32,19,4,2.5,Africa
190,Yemen,6,0,0,0.1,Asia
189,Vietnam,111,2,1,2.0,Asia
188,Venezuela,333,100,3,7.7,South America

In [ ]:
df_d.loc[::-1].reset_index(drop=True).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Zimbabwe,64,18,4,4.7,Africa
1,Zambia,32,19,4,2.5,Africa
2,Yemen,6,0,0,0.1,Asia
3,Vietnam,111,2,1,2.0,Asia
4,Venezuela,333,100,3,7.7,South America

In [ ]:
df_d.loc[:,::-1].head()

,continent,total_litres_of_pure_alcohol,wine_servings,spirit_servings,beer_servings,country
0,Asia,0.0,0,0,0,Afghanistan
1,Europe,4.9,54,132,89,Albania
2,Africa,0.7,14,0,25,Algeria
3,Europe,12.4,312,138,245,Andorra
4,Africa,5.9,45,57,217,Angola

In [ ]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [ ]:
df_d.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object