In [1]:
!mkdir test_data
%cd test_data
!pwd

!wget https://github.com/17rsuraj/data-curious/blob/master/TowardsDataScience/Dummy_Sales_Data_v1.csv

/content/test_data
/content/test_data
--2022-09-16 07:20:43--  https://github.com/17rsuraj/data-curious/blob/master/TowardsDataScience/Dummy_Sales_Data_v1.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Dummy_Sales_Data_v1.csv’

Dummy_Sales_Data_v1     [ <=>                ]   3.19M  18.5MB/s    in 0.2s

2022-09-16 07:20:44 (18.5 MB/s) - ‘Dummy_Sales_Data_v1.csv’ saved [3341129]

In [3]:
!pwd
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

/content/test_data

In [4]:
!wget https://www.wisdomaxis.com/technology/software/data/for-reports/Orders-With%20Nulls.xlsx

--2022-09-16 07:26:29--  https://www.wisdomaxis.com/technology/software/data/for-reports/Orders-With%20Nulls.xlsx
Resolving www.wisdomaxis.com (www.wisdomaxis.com)... 192.185.155.178
Connecting to www.wisdomaxis.com (www.wisdomaxis.com)|192.185.155.178|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 304054 (297K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Orders-With Nulls.xlsx’

Orders-With Nulls.x 100%[===================>] 296.93K  1.75MB/s    in 0.2s

2022-09-16 07:26:30 (1.75 MB/s) - ‘Orders-With Nulls.xlsx’ saved [304054/304054]

In [5]:
df = pd.read_excel("Orders-With.xlsx", sheet_name='Orders')

In [7]:
df.columns

Index(['Order ID', 'Order Date', 'Order Quantity', 'Sales', 'Ship Mode',
       'Profit', 'Unit Price', 'Customer Name', 'Customer Segment',
       'Product Category'],
      dtype='object')

In [12]:
df

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
0,3,2010-10-13,6,261.5400,Regular Air,-213.250,38.94,Muhammed MacIntyre,Small Business,Office Supplies
1,6,2012-02-20,2,6.9300,Regular Air,-4.640,2.08,Ruben Dartt,Corporate,Office Supplies
2,32,2011-07-15,26,2808.0800,Regular Air,1054.820,107.53,Liz Pelletier,Corporate,Furniture
3,32,2011-07-15,24,1761.4000,Delivery Truck,-1748.560,70.89,Liz Pelletier,Corporate,Furniture
4,32,2011-07-15,23,160.2335,Regular Air,-85.129,7.99,Liz Pelletier,Corporate,Technology
...,...,...,...,...,...,...,...,...,...,...
1002,7171,2011-02-13,17,303.1865,Regular Air,92.592,20.99,Andy Gerbode,Consumer,Technology
1003,7174,2012-03-10,10,141.9200,Regular Air,12.200,13.73,Thomas Thornton,Consumer,Furniture
1004,7175,2010-02-07,10,748.2500,Delivery Truck,-86.990,70.98,Helen Andreada,Corporate,Furniture
1005,7203,2009-01-08,25,21752.0100,Regular Air,9296.348,896.99,Ruben Dartt,Corporate,Office Supplies
1006,7239,2011-06-29,50,6206.1600,Regular Air,1416.270,120.33,Craig Carroll,Small Business,Office Supplies

In [8]:
df_group = df.groupby("Customer Segment")
type(df_group)

pandas.core.groupby.generic.DataFrameGroupBy

In [11]:
df_group.keys

'Customer Segment'

In [13]:
df_group.nunique()

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Product Category
Customer Segment,,,,,,,,,
Consumer,134,130,49,203,3,203,155,102,3
Corporate,254,230,50,382,3,382,247,171,3
Home Office,150,145,49,236,3,236,172,100,3
Small Business,122,116,48,178,3,178,143,93,3

In [14]:
df_group.ngroups

4

In [16]:
df_group.size()

Customer Segment
Consumer          203
Corporate         389
Home Office       237
Small Business    178
dtype: int64

In [17]:
df_group.first()

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Product Category
Customer Segment,,,,,,,,,
Consumer,66,2009-01-19,41,108.1500,Regular Air,7.570,2.88,Arthur Gainer,Office Supplies
Corporate,6,2012-02-20,2,6.9300,Regular Air,-4.640,2.08,Ruben Dartt,Office Supplies
Home Office,36,2011-11-02,46,2484.7455,Regular Air,657.477,65.99,Sample Company A,Technology
Small Business,3,2010-10-13,6,261.5400,Regular Air,-213.250,38.94,Muhammed MacIntyre,Office Supplies

In [18]:
df_group.last()

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Product Category
Customer Segment,,,,,,,,,
Consumer,7174,2012-03-10,10,141.92,Regular Air,12.200,13.73,Thomas Thornton,Furniture
Corporate,7203,2009-01-08,25,21752.01,Regular Air,9296.348,896.99,Ruben Dartt,Office Supplies
Home Office,7136,2009-03-22,9,47.28,Regular Air,17.050,4.91,Lena Cacioppo,Office Supplies
Small Business,7239,2011-06-29,50,6206.16,Regular Air,1416.270,120.33,Craig Carroll,Office Supplies

In [19]:
df_group.nth(13)

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Product Category
Customer Segment,,,,,,,,,
Consumer,326,2011-06-03,17,100.95,Regular Air,-21.30,5.81,Michelle Tran,Office Supplies
Corporate,35,2008-10-22,14,NaN,Regular Air,NaN,155.99,Julie Creighton,Technology
Home Office,290,2009-01-05,24,188.73,Regular Air,-32.48,7.64,Dorris Love,Office Supplies
Small Business,774,2011-12-03,17,126.57,Regular Air,-752.13,4.48,Sibella Parks,Office Supplies

In [20]:
df_group.get_group('Home Office')

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
8,36,2011-11-02,46,2484.7455,Regular Air,657.477,65.99,Sample Company A,Home Office,Technology
16,36,2008-10-22,46,NaN,Regular Air,NaN,65.99,Sample Company A,Home Office,Technology
21,70,2010-12-17,48,90.0500,Regular Air,-107.000,1.86,Helen Wasserman,Home Office,Office Supplies
22,70,2010-12-17,46,7804.5300,Regular Air,2057.166,205.99,Helen Wasserman,Home Office,Technology
23,96,2009-04-16,37,4158.1235,Regular Air,1228.887,125.99,Keith Dawkins,Home Office,Technology
...,...,...,...,...,...,...,...,...,...,...
989,7106,2012-05-10,8,118.9800,Regular Air,-12.765,14.27,Shaun Weien,Home Office,Office Supplies
990,7106,2012-05-10,31,4910.0900,Regular Air,1669.380,159.99,Shaun Weien,Home Office,Technology
991,7106,2012-05-10,36,1058.4500,Regular Air,-386.020,27.75,Shaun Weien,Home Office,Office Supplies
996,7136,2009-03-22,17,642.9000,Regular Air,88.720,39.48,Lena Cacioppo,Home Office,Technology
997,7136,2009-03-22,9,47.2800,Regular Air,17.050,4.91,Lena Cacioppo,Home Office,Office Supplies

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          1007 non-null   int64
 1   Order Date        1007 non-null   datetime64[ns]
 2   Order Quantity    1007 non-null   int64
 3   Sales             999 non-null    float64
 4   Ship Mode         1007 non-null   object
 5   Profit            999 non-null    float64
 6   Unit Price        1007 non-null   float64
 7   Customer Name     1007 non-null   object
 8   Customer Segment  1007 non-null   object
 9   Product Category  1007 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 78.8+ KB

In [22]:
#Select only required columns
df_columns = df_group[["Unit Price","Order Quantity"]]
#Apply aggregate function
df_columns.mean()

                  Unit Price  Order Quantity
Customer Segment
Consumer           72.492167       25.034483
Corporate          88.984499       24.491003
Home Office       104.112068       25.556962
Small Business    100.496573       24.382022

In [23]:
df_columns.max()

                  Unit Price  Order Quantity
Customer Segment
Consumer             1360.14              50
Corporate            2550.14              50
Home Office          6783.02              50
Small Business       3502.14              50

In [24]:
df.groupby("Customer Segment")[["Order Quantity"]].aggregate([min, max, sum, 'mean'])

                 Order Quantity
                            min max   sum       mean
Customer Segment
Consumer                      1  50  5082  25.034483
Corporate                     1  50  9527  24.491003
Home Office                   1  50  6057  25.556962
Small Business                2  50  4340  24.382022