In [1]:
!pwd
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

/content

In [2]:
!mkdir test_data

In [4]:
%cd test_data
!pwd

/content/test_data
/content/test_data

In [5]:
#https://www.wisdomaxis.com/technology/software/data/for-reports/Orders-With%20Nulls.xlsx
!wget https://www.wisdomaxis.com/technology/software/data/for-reports/Orders-With%20Nulls.xlsx

--2022-09-15 06:08:56--  https://www.wisdomaxis.com/technology/software/data/for-reports/Orders-With%20Nulls.xlsx
Resolving www.wisdomaxis.com (www.wisdomaxis.com)... 192.185.155.178
Connecting to www.wisdomaxis.com (www.wisdomaxis.com)|192.185.155.178|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 304054 (297K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Orders-With Nulls.xlsx’

Orders-With Nulls.x 100%[===================>] 296.93K  1.89MB/s    in 0.2s

2022-09-15 06:08:56 (1.89 MB/s) - ‘Orders-With Nulls.xlsx’ saved [304054/304054]

In [6]:
df = pd.read_excel("Orders-With.xlsx", sheet_name=None)

In [8]:
df.keys()

dict_keys(['Orders', 'Sheet2', 'Sheet3'])

In [9]:
df = pd.read_excel("Orders-With.xlsx", sheet_name='Orders')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          1007 non-null   int64
 1   Order Date        1007 non-null   datetime64[ns]
 2   Order Quantity    1007 non-null   int64
 3   Sales             999 non-null    float64
 4   Ship Mode         1007 non-null   object
 5   Profit            999 non-null    float64
 6   Unit Price        1007 non-null   float64
 7   Customer Name     1007 non-null   object
 8   Customer Segment  1007 non-null   object
 9   Product Category  1007 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 78.8+ KB

In [11]:
df

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
0,3,2010-10-13,6,261.5400,Regular Air,-213.250,38.94,Muhammed MacIntyre,Small Business,Office Supplies
1,6,2012-02-20,2,6.9300,Regular Air,-4.640,2.08,Ruben Dartt,Corporate,Office Supplies
2,32,2011-07-15,26,2808.0800,Regular Air,1054.820,107.53,Liz Pelletier,Corporate,Furniture
3,32,2011-07-15,24,1761.4000,Delivery Truck,-1748.560,70.89,Liz Pelletier,Corporate,Furniture
4,32,2011-07-15,23,160.2335,Regular Air,-85.129,7.99,Liz Pelletier,Corporate,Technology
...,...,...,...,...,...,...,...,...,...,...
1002,7171,2011-02-13,17,303.1865,Regular Air,92.592,20.99,Andy Gerbode,Consumer,Technology
1003,7174,2012-03-10,10,141.9200,Regular Air,12.200,13.73,Thomas Thornton,Consumer,Furniture
1004,7175,2010-02-07,10,748.2500,Delivery Truck,-86.990,70.98,Helen Andreada,Corporate,Furniture
1005,7203,2009-01-08,25,21752.0100,Regular Air,9296.348,896.99,Ruben Dartt,Corporate,Office Supplies
1006,7239,2011-06-29,50,6206.1600,Regular Air,1416.270,120.33,Craig Carroll,Small Business,Office Supplies

In [14]:
person_single = df['Customer Name'] == 'Liz Pelletier'

In [15]:
df[person_single]

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
2,32,2011-07-15,26,2808.0800,Regular Air,1054.820,107.53,Liz Pelletier,Corporate,Furniture
3,32,2011-07-15,24,1761.4000,Delivery Truck,-1748.560,70.89,Liz Pelletier,Corporate,Furniture
4,32,2011-07-15,23,160.2335,Regular Air,-85.129,7.99,Liz Pelletier,Corporate,Technology
5,32,2011-07-15,15,140.5600,Regular Air,-128.380,8.46,Liz Pelletier,Corporate,Technology
10,32,2008-07-15,26,NaN,Regular Air,NaN,107.53,Liz Pelletier,Corporate,Furniture
11,32,2008-07-15,24,NaN,Delivery Truck,NaN,70.89,Liz Pelletier,Corporate,Furniture
12,32,2008-07-15,23,NaN,Regular Air,NaN,7.99,Liz Pelletier,Corporate,Technology
13,32,2008-07-15,15,NaN,Regular Air,NaN,8.46,Liz Pelletier,Corporate,Technology

In [12]:
c_by_customer = df.groupby('Customer Name').count()

In [13]:
c_by_customer

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Segment,Product Category
Customer Name,,,,,,,,,
Aaron Bergman,1,1,1,1,1,1,1,1,1
Aaron Smayling,3,3,3,3,3,3,3,3,3
Adam Hart,2,2,2,2,2,2,2,2,2
Adam Shillingsburg,1,1,1,1,1,1,1,1,1
Adrian Hane,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...
Vivek Gonzalez,1,1,1,1,1,1,1,1,1
Vivian Mathis,5,5,5,5,5,5,5,5,5
William Brown,1,1,1,1,1,1,1,1,1
Xylona Price,1,1,1,1,1,1,1,1,1
Yoseph Carroll,3,3,3,3,3,3,3,3,3

In [16]:
c_by_customer.index

Index(['Aaron Bergman', 'Aaron Smayling', 'Adam Hart', 'Adam Shillingsburg',
       'Adrian Hane', 'Alan Barnes', 'Alan Dominguez', 'Alan Haines',
       'Alan Hwang', 'Alan Schoenberger',
       ...
       'Trudy Schmidt', 'Valerie Dominguez', 'Valerie Takahito',
       'Victor Price', 'Victoria Pisteka', 'Vivek Gonzalez', 'Vivian Mathis',
       'William Brown', 'Xylona Price', 'Yoseph Carroll'],
      dtype='object', name='Customer Name', length=430)

In [20]:
c_by_customer.loc['Liz Pelletier']

Order ID            8
Order Date          8
Order Quantity      8
Sales               4
Ship Mode           8
Profit              4
Unit Price          8
Customer Segment    8
Product Category    8
Name: Liz Pelletier, dtype: int64

In [21]:
df

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
0,3,2010-10-13,6,261.5400,Regular Air,-213.250,38.94,Muhammed MacIntyre,Small Business,Office Supplies
1,6,2012-02-20,2,6.9300,Regular Air,-4.640,2.08,Ruben Dartt,Corporate,Office Supplies
2,32,2011-07-15,26,2808.0800,Regular Air,1054.820,107.53,Liz Pelletier,Corporate,Furniture
3,32,2011-07-15,24,1761.4000,Delivery Truck,-1748.560,70.89,Liz Pelletier,Corporate,Furniture
4,32,2011-07-15,23,160.2335,Regular Air,-85.129,7.99,Liz Pelletier,Corporate,Technology
...,...,...,...,...,...,...,...,...,...,...
1002,7171,2011-02-13,17,303.1865,Regular Air,92.592,20.99,Andy Gerbode,Consumer,Technology
1003,7174,2012-03-10,10,141.9200,Regular Air,12.200,13.73,Thomas Thornton,Consumer,Furniture
1004,7175,2010-02-07,10,748.2500,Delivery Truck,-86.990,70.98,Helen Andreada,Corporate,Furniture
1005,7203,2009-01-08,25,21752.0100,Regular Air,9296.348,896.99,Ruben Dartt,Corporate,Office Supplies
1006,7239,2011-06-29,50,6206.1600,Regular Air,1416.270,120.33,Craig Carroll,Small Business,Office Supplies

In [22]:
m_s_by_customer = df.groupby('Customer Name').agg({'Order Quantity':['mean','sum'], 'Sales':['mean','sum']})

In [23]:
m_s_by_customer

                   Order Quantity            Sales
                             mean sum         mean        sum
Customer Name
Aaron Bergman            5.000000   5    14.760000    14.7600
Aaron Smayling          20.333333  61    81.173333   243.5200
Adam Hart               13.000000  26  1033.310000  2066.6200
Adam Shillingsburg      30.000000  30   199.110000   199.1100
Adrian Hane             13.500000  27   218.105000   436.2100
...                           ...  ..          ...        ...
Vivek Gonzalez          21.000000  21    78.170000    78.1700
Vivian Mathis           17.400000  87  1324.210000  6621.0500
William Brown           31.000000  31  1735.351500  1735.3515
Xylona Price            30.000000  30   106.640000   106.6400
Yoseph Carroll          20.000000  60  2357.009833  7071.0295

[430 rows x 4 columns]

In [24]:
m_s_by_customer.loc['Liz Pelletier']

Order Quantity  mean      22.000000
                sum      176.000000
Sales           mean    1217.568375
                sum     4870.273500
Name: Liz Pelletier, dtype: float64

In [25]:
df[person_single]

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
2,32,2011-07-15,26,2808.0800,Regular Air,1054.820,107.53,Liz Pelletier,Corporate,Furniture
3,32,2011-07-15,24,1761.4000,Delivery Truck,-1748.560,70.89,Liz Pelletier,Corporate,Furniture
4,32,2011-07-15,23,160.2335,Regular Air,-85.129,7.99,Liz Pelletier,Corporate,Technology
5,32,2011-07-15,15,140.5600,Regular Air,-128.380,8.46,Liz Pelletier,Corporate,Technology
10,32,2008-07-15,26,NaN,Regular Air,NaN,107.53,Liz Pelletier,Corporate,Furniture
11,32,2008-07-15,24,NaN,Delivery Truck,NaN,70.89,Liz Pelletier,Corporate,Furniture
12,32,2008-07-15,23,NaN,Regular Air,NaN,7.99,Liz Pelletier,Corporate,Technology
13,32,2008-07-15,15,NaN,Regular Air,NaN,8.46,Liz Pelletier,Corporate,Technology

In [26]:
c_by_segment = df.groupby('Customer Segment').agg({'Order ID':'count'})

In [29]:
p_by_segment = df.groupby('Product Category').agg({'Order ID':'count'})

In [30]:
p_by_segment

                  Order ID
Product Category
Furniture              208
Office Supplies        556
Technology             243

In [28]:
c_by_segment

                  Order ID
Customer Segment
Consumer               203
Corporate              389
Home Office            237
Small Business         178

In [31]:
ps_by_segment = df.groupby(['Customer Segment','Product Category']).agg({'Order ID':'count'})

In [32]:
ps_by_segment

                                   Order ID
Customer Segment Product Category
Consumer         Furniture               49
                 Office Supplies        114
                 Technology              40
Corporate        Furniture               85
                 Office Supplies        210
                 Technology              94
Home Office      Furniture               42
                 Office Supplies        128
                 Technology              67
Small Business   Furniture               32
                 Office Supplies        104
                 Technology              42

In [33]:
ps_by_segment.index

MultiIndex([(      'Consumer',       'Furniture'),
            (      'Consumer', 'Office Supplies'),
            (      'Consumer',      'Technology'),
            (     'Corporate',       'Furniture'),
            (     'Corporate', 'Office Supplies'),
            (     'Corporate',      'Technology'),
            (   'Home Office',       'Furniture'),
            (   'Home Office', 'Office Supplies'),
            (   'Home Office',      'Technology'),
            ('Small Business',       'Furniture'),
            ('Small Business', 'Office Supplies'),
            ('Small Business',      'Technology')],
           names=['Customer Segment', 'Product Category'])

In [34]:
ps_by_segment.loc['Consumer']

                  Order ID
Product Category
Furniture               49
Office Supplies        114
Technology              40

In [35]:
df

,Order ID,Order Date,Order Quantity,Sales,Ship Mode,Profit,Unit Price,Customer Name,Customer Segment,Product Category
0,3,2010-10-13,6,261.5400,Regular Air,-213.250,38.94,Muhammed MacIntyre,Small Business,Office Supplies
1,6,2012-02-20,2,6.9300,Regular Air,-4.640,2.08,Ruben Dartt,Corporate,Office Supplies
2,32,2011-07-15,26,2808.0800,Regular Air,1054.820,107.53,Liz Pelletier,Corporate,Furniture
3,32,2011-07-15,24,1761.4000,Delivery Truck,-1748.560,70.89,Liz Pelletier,Corporate,Furniture
4,32,2011-07-15,23,160.2335,Regular Air,-85.129,7.99,Liz Pelletier,Corporate,Technology
...,...,...,...,...,...,...,...,...,...,...
1002,7171,2011-02-13,17,303.1865,Regular Air,92.592,20.99,Andy Gerbode,Consumer,Technology
1003,7174,2012-03-10,10,141.9200,Regular Air,12.200,13.73,Thomas Thornton,Consumer,Furniture
1004,7175,2010-02-07,10,748.2500,Delivery Truck,-86.990,70.98,Helen Andreada,Corporate,Furniture
1005,7203,2009-01-08,25,21752.0100,Regular Air,9296.348,896.99,Ruben Dartt,Corporate,Office Supplies
1006,7239,2011-06-29,50,6206.1600,Regular Air,1416.270,120.33,Craig Carroll,Small Business,Office Supplies

In [43]:
gap_by_order = df.groupby('Order ID').agg(unit_gap=('Unit Price', lambda x: x.max() - x.min() ), ship_l=('Ship Mode', lambda x: ', '.join(x.unique())) )

In [44]:
gap_by_order

          unit_gap                       ship_l
Order ID
3             0.00                  Regular Air
6             0.00                  Regular Air
32           99.54  Regular Air, Delivery Truck
35          146.88                  Regular Air
36            0.00                  Regular Air
...            ...                          ...
7171         45.00                  Regular Air
7174          0.00                  Regular Air
7175          0.00               Delivery Truck
7203          0.00                  Regular Air
7239          0.00                  Regular Air

[660 rows x 2 columns]

In [45]:
gap_by_order.loc[32]

unit_gap                          99.54
ship_l      Regular Air, Delivery Truck
Name: 32, dtype: object