In [1]:
import pandas as pd
df = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/sample_pivot.xlsx', parse_dates=['Date'])
print(df.head())

        Date Region                 Type  Units  Sales
0 2020-07-11   East  Children's Clothing   18.0    306
1 2020-09-23  North  Children's Clothing   14.0    448
2 2020-04-02  South     Women's Clothing   17.0    425
3 2020-02-28   East  Children's Clothing   26.0    832
4 2020-03-19   West     Women's Clothing    3.0     33

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1000 non-null   datetime64[ns]
 1   Region  1000 non-null   object
 2   Type    1000 non-null   object
 3   Units   911 non-null    float64
 4   Sales   1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 39.2+ KB

In [3]:
df.groupby('Region')['Sales'].count()

Region
East     411
North    316
South    137
West     136
Name: Sales, dtype: int64

In [4]:
df.groupby('Type')['Sales'].count()

Type
Children's Clothing    285
Men's Clothing         291
Women's Clothing       424
Name: Sales, dtype: int64

In [9]:
df.groupby(['Region','Type']).agg({'Sales':['count','sum'],'Units':'sum'})

                           Sales          Units
                           count    sum     sum
Region Type
East   Children's Clothing   113  45849  2318.0
       Men's Clothing        122  51685  2420.0
       Women's Clothing      176  70229  3372.0
North  Children's Clothing    85  37306  1763.0
       Men's Clothing         89  39975     0.0
       Women's Clothing      142  61419  2596.0
South  Children's Clothing    45  18570  1017.0
       Men's Clothing         39  18542   725.0
       Women's Clothing       53  22203  1056.0
West   Children's Clothing    42  20182   789.0
       Men's Clothing         41  19077   829.0
       Women's Clothing       53  22217  1006.0

In [10]:
df

          Date Region                 Type  Units  Sales
0   2020-07-11   East  Children's Clothing   18.0    306
1   2020-09-23  North  Children's Clothing   14.0    448
2   2020-04-02  South     Women's Clothing   17.0    425
3   2020-02-28   East  Children's Clothing   26.0    832
4   2020-03-19   West     Women's Clothing    3.0     33
..         ...    ...                  ...    ...    ...
995 2020-02-11   East  Children's Clothing   35.0    735
996 2020-12-25  North       Men's Clothing    NaN   1155
997 2020-08-31  South       Men's Clothing   13.0    208
998 2020-08-23  South     Women's Clothing   17.0    493
999 2020-08-17  North     Women's Clothing   25.0    300

[1000 rows x 5 columns]

In [12]:
pivot = pd.pivot_table(data=df, index='Region')
pivot

             Sales      Units
Region
East    408.182482  19.732360
North   438.924051  19.202643
South   432.956204  20.423358
West    452.029412  19.294118

In [13]:
pivot = pd.pivot_table(data=df, index='Region', values='Sales')
pivot

             Sales
Region
East    408.182482
North   438.924051
South   432.956204
West    452.029412

In [14]:
pivot = pd.pivot_table(data=df, index='Region', values='Sales', aggfunc=['sum','mean'])
pivot

           sum        mean
         Sales       Sales
Region
East    167763  408.182482
North   138700  438.924051
South    59315  432.956204
West     61476  452.029412